html {
    background-color: black;
}

* {
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

a {
    size: 15px;
    text-align: justify;
    color: aquamarine;
}

.swerve {
    color: orangered;
}

.bee {
    color: gold
}

.megs {
    color:purple;
}

.swerve,
.megs {
    font-weight: bolder;
}